<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/"><h1 id="logo"><%= image_tag("header_logo.png") %></h1></a>
    </div>
  </div>
  <div class="row">
    <div class ="main-menu large-12 columns">
      <ul>

        
        <li><%= link_to "About Us", root_path%></li>
        <li><%= link_to "Scholarships", new_admin_campaign_path  %></li>
        <li><%= link_to "School Directory", bootcamps_path %></li>
        <li><%= link_to "FAQ", root_path %>
      </ul>
    </div>
  </div>
</div>



