<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/"><h1 id="logo"><%= image_tag("header_logo.png") %></h1></a>
    </div>
  </div>
  <div class="row">
    <div class ="main-menu large-12 columns">
      <ul>
          <li><%= link_to "FAQ", 'faq' %></li>
          <li><a href=# data-dropdown="hover1" data-options="is_hover:true">Scholarships</a></li>
            <ul id="hover1" class="f-dropdown" data-dropdown-content>
              <li><a href="<%= scholarships_path %>">View scholarships</a></li>
              <li><a href="<%= scholarship_messages_path %>">Add a scholarship</a></li>
            </ul>
          <li><a href="<%= bootcamps_path %>" data-dropdown="hover2" data-options="is_hover:true">Programs</a></li>
          <ul id="hover2" class="f-dropdown" data-dropdown-content>
          <li><a href="<%= bootcamps_path %>">Program Directory</a></li>
          <li><a href="<%= new_bootcamp_path %>">Add a Program</a></li>
          <li><a href="statistics">Statistics</a></li>
          </ul>
       
      </ul>
    </div>
  </div>
</div>

<style>

</style>

