


<div id="homepage">
  <div class="container clearfix">
    
      <div class="row">
      <div class="homepage_content clearfix large-6 columns">
      
<h3>Crowdfunding the next generation of developers</h3>
<p>Devocracy helps you find and fund scholarships for development bootcamps.</p> <p>If you're a development bootcamp, creating a scholarship can help you offer tuition assistance to the students you believe can succeed in your program. </p> <p> We believe that crowdfunded scholarships can be one tool among many to bring people with more diverse backgrounds into the IT sector. In the future, we would like to allow any student to create a scholarship, as well as offer sponsored scholarships from companies looking for tech employees with specific domain skillsets.</p>
<p>We believe that <a href="https://gist.github.com/sferik/5277512">software is eating the world</a> Devocracy exists to put technical skills into the hands of those could otherwise be left behind.
</div>
    <div class="campaigns large-4 columns" style="padding-left:3px">
      <h3>Featured Campaigns</h3>
      <% if @campaigns.count > 0 %>
        <% @campaigns.each do |campaign| %>
          <% if campaign.published_flag && !campaign.expired? %>
          <a href="<%= url_for campaign_home_path(campaign) %>" class="campaign clearfix">

            <% if campaign.media_type == 'video' && !campaign.video_embed_id.blank?%>

              <% if campaign.video_placeholder.file? %>
                <%= image_tag campaign.video_placeholder.url(:main), alt: "main_image" %>
              <% else %>
                <%= image_tag "https://img.youtube.com/vi/#{campaign.video_embed_id}/hqdefault.jpg", alt: "main_image" %>
              <% end %>

            <% else %>

              <% if campaign.main_image.file? %>
                <%= image_tag campaign.main_image.url(:small), alt: "main_image" %>
              <% else %>
                <div class="placeholder"></div>
              <% end %>

            <% end %>

            <p class="info">
              <%= truncate(campaign.name, length: 50) %>
            </p>

            <% if campaign.raised_amount.to_f/100 < campaign.goal_dollars.to_f %>
              <div id='progress_bg'>
                <div id='progress' class='' style='width: <%= campaign.tilt_percent.nil? ? 0 : campaign.tilt_percent.ceil %>%;'>
                </div>
              </div>
            <% else %>
              <div id="progress_bg">
                <div id="progress">
                </div>
                </div>
            <% end %>

            <p class="numbers">
            <% if campaign.expired? %>
              <strong>No</strong><br/>days left!
            <% else %>
              <strong><%= distance_of_time_in_words_to_now(campaign.expiration_date).gsub(/\D/, "") %></strong>
              <span style="display: block; width: 100px;">
                <%= distance_of_time_in_words_to_now(campaign.expiration_date).gsub(/\d/, "").gsub("about", "") %> left
              </span>
            <% end %>
            </p>

            <p class="numbers" style="text-align:right">
              <% if campaign.goal_type == 'dollars' %>
              <strong>$<%= campaign.raised_amount.ceil %></strong><br/>
              <%= campaign.progress_text %>
              <% else %>
               <strong><%= campaign.orders %></strong><br/>
              <%= campaign.contributor_reference.pluralize(campaign.orders) %>
              <% end %>
            </p>

          </a>
          <% end %>
        <% end %>
      <% else %>

      <div class="center" style="padding-left:0px"><h4>No campaigns yet!</h4></div>

      <% end %>
    </div>
  </div>
  <div class="row">
  <h3 id="howitworks">How It Works</h3>
  <div class="large-4 columns"><h4>Programs create a scholarship</h4>
<p>Representatives of software training programs programs fill out a form. They include a description, a goal funding amount, and a deadline. We contact the bootcamp directly for confirmation and get some more information from them. Then we create the scholarship. (In the future we hope to allow anyone to create a scholarship)</p></div>
  <div class="large-4 columns"><h4>We pitch in to fund it</h4>
<p>At the heart of Devocracy is democratic funding. All of us pitch in to fund the scholarships we believe in by pledging an amount of our choice. Once the scholarship meets its goal amount, each person who has pledged to it gets charged.

If a scholarship doesn't meet its goal amount, then no one gets charged at all. We encourage you to share the scholarship you've supported with your friends and family</p>.</div>
  <div class="large-4 columns"><h4>Bootcamps select an applicant</h4>
<p>Once the scholarship goal has been met, the bootcamp that created it selects an applicant to receive the scholarship. We encourage bootcamps to take a picture with their newly accepted student and post it for supporters to see. In the future we will offer updates from scholarship recipients to their funders.</p></div>
  
</div>

<style>

</style>