


<div id="homepage">
  <div class="container clearfix">
    
      <div class="row">
      <div class="homepage_content clearfix large-6 small-4 columns">
        <h3>Header Text</h3>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        <p>Donec sed odio dui. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p>Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
    <div class="campaigns large-6 columns">
      <h3>Header Text</h3>
      <% if @campaigns.count > 0 %>
        <% @campaigns.each do |campaign| %>
          <% if campaign.published_flag && !campaign.expired? %>
          <a href="<%= url_for campaign_home_path(campaign) %>" class="campaign clearfix">

            <% if campaign.media_type == 'video' && !campaign.video_embed_id.blank?%>

              <% if campaign.video_placeholder.file? %>
                <%= image_tag campaign.video_placeholder.url(:main), alt: "main_image" %>
              <% else %>
                <%= image_tag "https://img.youtube.com/vi/#{campaign.video_embed_id}/hqdefault.jpg", alt: "main_image" %>
              <% end %>

            <% else %>

              <% if campaign.main_image.file? %>
                <%= image_tag campaign.main_image.url(:small), alt: "main_image" %>
              <% else %>
                <div class="placeholder"></div>
              <% end %>

            <% end %>

            <p class="info">
              <%= truncate(campaign.name, length: 50) %>
            </p>

            <% if campaign.raised_amount.to_f/100 < campaign.goal_dollars.to_f %>
              <div id='progress_bg'>
                <div id='progress' class='' style='width: <%= campaign.tilt_percent.nil? ? 0 : campaign.tilt_percent.ceil %>%;'>
                </div>
              </div>
            <% else %>
              <div id="progress_bg">
                <div id="progress">
                </div>
                </div>
            <% end %>

            <p class="numbers">
            <% if campaign.expired? %>
              <strong>No</strong><br/>days left!
            <% else %>
              <strong><%= distance_of_time_in_words_to_now(campaign.expiration_date).gsub(/\D/, "") %></strong>
              <span style="display: block; width: 100px;">
                <%= distance_of_time_in_words_to_now(campaign.expiration_date).gsub(/\d/, "").gsub("about", "") %> left
              </span>
            <% end %>
            </p>

            <p class="numbers" style="text-align:right">
              <% if campaign.goal_type == 'dollars' %>
              <strong>$<%= campaign.raised_amount.ceil %></strong><br/>
              <%= campaign.progress_text %>
              <% else %>
               <strong><%= campaign.orders %></strong><br/>
              <%= campaign.contributor_reference.pluralize(campaign.orders) %>
              <% end %>
            </p>

          </a>
          <% end %>
        <% end %>
      <% else %>

      <div class="center" style="padding-left:0px"><h4>No campaigns yet!</h4></div>

      <% end %>
    </div>
  </div>
</div>

<style>

</style>