<div class="row">
  <div class="large-5 columns"><hr style="border-top: 2px dashed grey; color: #FFFCF4; margin-top:100px; width:90%"></div>
    <div class="large-2 columns">
      <img id="bootcamplogo" src=<%= image_path(@bootcamp.name.downcase.gsub(" ", "-")+'.png') %> style="margin-left:-15px" >
    </div>
  <div class="large-5 columns"><hr style="border-top: 2px dashed grey; height:75px; margin-top:100px; color:#FFFCF4"></div>
</div>
<div class="row">
  <div class="large-6 columns">
    <h3><%= @bootcamp.name %></h3>
    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.</p>

<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    </div>
  <div class="large-4 columns">
    <div id="quickfactbox" style="padding:15px">
    <h3>Quick Facts</h3>
    <ul><li>Primary Language: <%= @bootcamp.primary_language %></li>
    <li>Tuition: <%= h number_to_currency @bootcamp.tuition, :precision => 0 %></li>
    <li>Hours: <%= @bootcamp.hours %></li></ul>
      <% if @bootcamp.tags.count != 0 %>
      <h3>Other Topics</h3>
      <% @bootcamp.tags.each do |t| %>
      <%= t.name %>
      <% end %>
      <% end %>
      </div>
    </div>
</div>


<div class="row">
  <div id ="contactbox" class="large-4 columns">
  <h4>Contact Info</h4>
  <p id="bcaddress"><%= @bootcamp.address %>, <%= @bootcamp.city %></p>
  <p id="bclink"><a href=<%= @bootcamp.website_url %>><%= @bootcamp.website_url %></a></p>
  <a href=#><img src=<%= image_path('webicon-twitter.svg')%>  width="50px"></a>
  <a href=#><img src=<%= image_path('webicon-mail.svg')%>  width="50px"></a>
 

  </div>
  <div id="gmapbox" class="large-3 columns">
    <a href="http://maps.google.com/?"><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@bootcamp.lat},#{@bootcamp.lon}&zoom=15&size=400x400&sensor=false&markers=color:blue%7Clabel:#{@bootcamp.name}%7C#{@bootcamp.lat},#{@bootcamp.lon}&visual_refresh=true" %></a>
  </div>

    <div id="tweetbox" class="large-4 columns">
    <h4>Twitterings <%= @bootcamp.twitter_handle %></h4>
    <% if @bootcamp.tweets.count != 0 %>
    <% @bootcamp.tweets.limit(5).each do |tweet| %>
    <p class="tweettext"><%= tweet.status %></p>
    <% end %>
    <% else %>
    <p class="tweettext">Sorry, we dont have any recent tweets for this program.</p>
    <% end %>
    </div>

</div>


<div class="row">
  <div class ="large-12 columns centered">
<button class="small"><%= link_to("Back to BootCamp Directory", bootcamps_url) %></button>
<button class="small"><%= link_to("Home", root_path)  %></button>
</div>
</div>