
<div class="row">
<div class="large-8 columns">
  <img src=<%= image_path(@bootcamp.name.downcase.gsub(" ", "-")+'.png') %> width="200px" style="float:right">
<div class="bootcampbox"><h2><%= @bootcamp.name %></h2>

<%= @bootcamp.address %>
<%= @bootcamp.city %>
<%= @bootcamp.website_url %>
<%= @bootcamp.twitter_handle %>


</div></div></div>

<div id="tweetbox" class="large-4 columns">
<h4>Recent Tweets</h4>
<% @bootcamp.tweets.limit(5).each do |tweet| %>
<p class="tweettext"><%= tweet.status %></p>
<% end %>
</div>

<div id="skills">
  <h3>SKILLS</h3>
  <% @bootcamp.tags.each do |t| %>
    <%= t.name %>
  <% end %>
</div>

<div id="mapcontainer"></div>
<button type="button" id="toggleToHours">Toggle</button>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>



<script>


var w = 500;
var h = 250;
var barPadding = 1;

var dataset = <%= raw(@bootcamps.to_json) %>

console.log(dataset);


var graphDraw = function(sub, multiplier) {

  var xPlot = function(d, i) { return i * (w / dataset.length); };
  var yPlot = function(d) { return h - (d[sub] * multiplier); };

  var xScale = d3.scale.linear()
    .domain([0, xPlot])
    .range([0, yPlot]);


  var svg = d3.select("#mapcontainer").append("svg")
    .attr("width", w)
    .attr("height", h)
    .attr("padding", 20)
    .attr("margin", 20);
 
  // var xAxis = d3.svg.axis()
  //   .scale(xScale)
  //   .orient("bottom");

  svg.selectAll("rect")
    .data(dataset)
    .enter()
    .append("rect")
    .attr("x", xPlot)
    .attr("y", yPlot)
    .attr("width", w / dataset.length - barPadding*3)
    .attr("height", function(d) {
      return d[sub] * multiplier ;
    })
    .attr("fill", function(d) {
      return "rgb(0, " + (Math.round(d[sub] * multiplier)) + ", 100)";
    });
    svg.selectAll("text")
    .data(dataset)
    .enter()
    .append("text")
    .text(function(d) { return d[sub]; })
    .attr("text-anchor", "middle")
    .attr("x", function(d,i) { 
      return i * (w / dataset.length) + (w / dataset.length- barPadding) /2 
    })
    .attr("y", function(d) { return h - (d[sub] * multiplier) + 15 })
    .attr("font-family", "sans-serif")
    .attr("font-size", "11px")
    .attr("fill", "black");
  }

 // svg.append("g")
 //    .attr("class", "axis")
 //    .call("xAxis");

$(document).ready(function() {

  graphDraw("tuition", 0.01);
  graphDraw("hours", 0.1);
  $('#mapcontainer').children().first().hide();


  $("#toggleToHours").click(function() {
      $('#mapcontainer').children().toggle(1500);   
  });
});


  </script>
</div>


<%= link_to("Back to BootCamp Directory", bootcamps_url) %>
<br />
<br /> 
<%= link_to("Home", root_path)  %>


