<style>

svg text {
  font-family: "American Typewriter", "American Typewriter", "Helvetica Neue";
  font-size: 18px;
  font-weight: 100;
  font-style: 1em;
  letter-spacing: 1.5px;
}

.xLabels {
  font-family: "American Typewriter", "American Typewriter", "Helvetica Neue";
  font-size: 30px;
  font-weight: 100;
  font-style: 1em;
  letter-spacing: 1.5px;
}
#mapcontainer {
  width: 550px;
  height: 375px;
}

svg {
  width: 525px;
  height: 350px;
}


</style>

<div class="row">
  <div class="large-2 large-centered columns">
    <img id="bootcamplogo" src=<%= image_path(@bootcamp.name.downcase.gsub(" ", "-")+'.png') %> width="200px">
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <h3><%= @bootcamp.name %></h3>
    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.</p>

<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    </div>
  <div class="large-4 columns">
    <div id="quickfactbox">
    <h3>Quick Facts</h3>
    <ul>
      <li>Primary Language: <%= @bootcamp.primary_language %></li>
      <li>Tuition: <%= @bootcamp.tuition %></li>
      <li>Hours: <%= @bootcamp.hours %></li>
      <h4>Other Topics</h4>
    <% @bootcamp.tags.each do |t| %>
      <%= t.name %>
      <% end %>
      </div>
    </div>
</div>


<div class="row">
  <div id ="contactbox" class="large-4 columns">
  <h3>Contact</h3>
  <p><%= @bootcamp.address %>, <%= @bootcamp.city %></p>
  <p><%= @bootcamp.website_url %></p>
  </div>
  <div id="gmapbox" class="large-3 columns">
    <a href="http://maps.google.com/?"><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@bootcamp.lat},#{@bootcamp.lon}&zoom=15&size=400x400&sensor=false&markers=color:blue%7Clabel:#{@bootcamp.name}%7C#{@bootcamp.lat},#{@bootcamp.lon}&visual_refresh=true" %></a>
  </div>


  <div id="tweetbox" class="large-4 columns">
    <h4>Recent Tweets</h4>
    <% @bootcamp.tweets.limit(5).each do |tweet| %>
    <p class="tweettext"><%= tweet.status %></p>
    <% end %>
  </div>
</div>

<div class="row">
<div id="mapcontainer" class="large-12 columns"></div>
</div>
<button type="button" id="toggleToHours">Toggle</button>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="/assets/bcshow.js"></script>


<script>
var dataset = <%= raw(@bootcamps.to_json) %>
console.log(dataset);
graphDraw("tuition", 0.01);
  graphDraw("weeks", 10);
  $('svg text').hide();
  $('#mapcontainer').children().last().hide();

// on hover of bar show data 
  $('rect').hover( function() {
    var id = $(this).attr('id');
    $('#' + id + '_label').closest('svg text').toggle();
  });


  $('rect').hover( function() {
    var id = $(this).attr('id');
    $('#' + id + '_label2').closest('svg text').toggle();
  });

    $('rect').hover( function() {
    var id = $(this).attr('id');
    $('#' + id + '_label3').closest('svg text').toggle();
  });

// hide the second data set


// switch between data attributes
  $("#toggleToHours").click(function() {
    $('#mapcontainer').children().toggle(700);
  });
</script>

<%= link_to("Back to BootCamp Directory", bootcamps_url) %>
<br />
<br /> 
<%= link_to("Home", root_path)  %>