<style>

svg text {
  font-family: "American Typewriter", "American Typewriter", "Helvetica Neue";
  font-size: 18px;
  font-weight: 100;
  font-style: 1em;
  letter-spacing: 1.5px;
}

.xLabels {
  font-family: "American Typewriter", "American Typewriter", "Helvetica Neue";
  font-size: 30px;
  font-weight: 100;
  font-style: 1em;
  letter-spacing: 1.5px;
}
#mapcontainer {
  width: 550px;
  height: 375px;
}

svg {
  width: 525px;
  height: 350px;
}
</style>

<div class="row">
  <div class="large-8 columns">
    <img src=<%= image_path(@bootcamp.name.downcase.gsub(" ", "-")+'.png') %> width="200px" style="float:right">
      <div class="bootcampbox"><h2><%= @bootcamp.name %></h2>

        <%= @bootcamp.address %>
        <%= @bootcamp.city %>
        <%= @bootcamp.website_url %>
        <%= @bootcamp.twitter_handle %>
      </div>
  </div>
</div>

<div class="row">
  <div id="tweetbox" class="large-4 columns">
    <h4>Recent Tweets</h4>
    <% @bootcamp.tweets.limit(5).each do |tweet| %>
    <p class="tweettext"><%= tweet.status %></p>
    <% end %>
  </div>

  <div id="skills" class="large-4 columns">
    <h3>SKILLS</h3>
    <% @bootcamp.tags.each do |t| %>
      <%= t.name %>
    <% end %>
  </div>
</div>

<div class="row">
<div id="mapcontainer" class="large-12 columns"></div>
</div>
<button type="button" id="toggleToHours">Toggle</button>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="/assets/bcshow.js"></script>


<script>
var dataset = <%= raw(@bootcamps.to_json) %>
console.log(dataset);
graphDraw("tuition", 0.01);
  graphDraw("weeks", 10);
  $('svg text').hide();
  $('#mapcontainer').children().last().hide();

// on hover of bar show data 
  $('rect').hover( function() {
    var id = $(this).attr('id');
    $('#' + id + '_label').closest('svg text').toggle();
  });


  $('rect').hover( function() {
    var id = $(this).attr('id');
    $('#' + id + '_label2').closest('svg text').toggle();
  });

// hide the second data set


// switch between data attributes
  $("#toggleToHours").click(function() {
    $('#mapcontainer').children().toggle(700);
  });
</script>

<%= link_to("Back to BootCamp Directory", bootcamps_url) %>
<br />
<br /> 
<%= link_to("Home", root_path)  %>