<% if user_signed_in? && current_user.admin? %>
<nav class="top-bar">
<ul class="title-area"></ul>
<section class="top-bar-section">
<ul class="left">
  <% if current_page?(root_path) %>
    <li><a href="<%= url_for admin_website_path %>"><i class="icon-edit icon-white"></i>  Edit homepage</a></li>
  <% end %>
  <% if params[:controller] == 'campaigns' %>
           <li>
             <a href="<%= edit_admin_campaign_path(@campaign) %>"><i class="icon-edit icon-white"></i> Edit campaign</a>
           </li>

           <% if !@campaign.published_flag %>
             <li class="status red show_tooltip" data-placement="bottom" data-title="Visible to ADMINS ONLY">
               Not published
             </li>
           <% else %>
             <li class="status green show_tooltip" data-placement="bottom" data-title="Visible to ALL">
               Published
             </li>
           <% end %>

           <% if !@campaign.production_flag %>
             <li class="status red show_tooltip" data-placement="bottom" data-title="Transactions WILL NOT be processed">
               Sandbox payments
             </li>
           <% else %>
             <li class="status green show_tooltip" data-placement="bottom" data-title="Transactions WILL be processed">
               Payments activated
             </li>
           <% end %>
          <% end %>
</ul>
<ul class="right">
  
    <li><%= link_to "Account", "user_settings_path" %></li>
    <li><%= link_to "Admin", admin_website_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
    <li class="divider"></li>
    <li><a href="#"><%= current_user.fullname %> <b class="caret"></b></a></li>
</ul>    
    
</section>
      </nav>
<% end %>